{% extends 'baseLoggedIn.twig' %}

{% block body %}
    <h1>Trainings list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Extra_costs</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training in trainings %}
            <tr>
                <td><a href="{{ path('admin_training_show', { 'id': training.id }) }}">{{ training.id }}</a></td>
                <td>{{ training.description }}</td>
                <td>{{ training.duration|date("h:i") }}</td>
                <td>{{ training.extracosts }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('admin_training_show', { 'id': training.id }) }}"><i class="fas fa-eye"></i> show</a>
                    <a class="btn btn-warning" href="{{ path('admin_training_edit', { 'id': training.id }) }}"><i class="fas fa-edit"></i> edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('admin_training_new') }}">Create a new training</a>

{% endblock %}
