{% extends "baseLoggedIn.twig" %}

{% block body %}

    <div class="row">
    {% for les in aanbod %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><a>{{ les.training.description }} {% if les.training.extracosts %}($){% endif %}</a></h4>

                <p class="card-text">
                Datum: {{ les.date|date("d-m-Y") }}<br>
                Instructeur: {{ les.instructeur.fullname }}<br>
                Max aantal personen: {{ les.maxpersons }}<br>
                Aangemelde personen: {{ les.registrations.count }}<br>
                </p>

                <a href="{{ path('lid_inschijven', {'id': les.id}) }}" class="btn btn-newprimary card-link">Inschrijven</a>

            </div>
        </div>

    {% endfor %}
    </div>

{% endblock %}